@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
html {
    font-family: 'Jost', sans-serif;
    background-color: #DDD;
    color: #000;
    display: table;
    margin: auto;
}
body {
    margin: 0 auto;
    max-width: 80%;
}

h1 {
    font-size: 5em;
    text-align: center;
}

h2 {
    font-size: 3.5em;
}

p {
    font-size: 1.5em;
}

select, option {
    background-color: #FFF;
    font-size: 1em;
    color: #000;
    font-family: inherit;
    border: 0;
    border-radius: 1em;
    padding:10px;
    margin-top: 2em
}

button {
    background-color: #2196f3;
    color: #DDD;
    font-family: inherit;
    font-size: 2em;
    width: 30%;
    min-width: 10em;
    padding: 0.3em;
    border: 0;
    border-radius: 10px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

/*quiz.html*/
#question {
    background-color: #FFF;
    text-align: center;
    font-size: 4em;
    width: 80%;
    margin: 1em auto;
    padding: 1em;
    border-radius: 0.5em;
}
#back_button {
    background-color: #333;
    font-size: 1.5em;
    width: 7%;
    min-width: 3em;
}
/*Results.html*/
#image {
    display: block;
    margin: 2% auto;
    max-width: 90%;
    height: auto;
    border-radius: 2em;
}
#result {
    font-size: 3em;
    width: 75%;
    margin: auto;
    text-align: center;
}
#desc {
    font-size: 1.5em;
    width: 65%;
    margin: auto;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    html{
        background-color: #222;
        color: #FFF;
    }
    select, option {
        background-color: #000;
        color: #FFF;
    }
    #question {
        background-color: #000;
    }
}
@media screen and (max-width: 800px) {
  body{
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  h1 {
    font-size: 14vw;
  }
  #quiz_title {
    font-size: 10vw;
  }
  #results_title {
    font-size: 8vw;
  }
  h2 {
    font-size: 8vw;
  }
  p {
    font-size: 5vw;
    padding-left: 3vw;
    padding-right: 3vw;
  }
  select {
    margin: 2 auto;
  }
  #startbutton {
    font-size: 6vw;
  }
  #buttonholder{
    margin: 0 auto;
    width: 100%;
  }
  button.button {
    font-size: 6vw;
    width: 65%;
  }
  #question{
    padding: 2vw;
    border: 1vw;
    margin: 0 auto;
    margin-bottom: 8vw;
    font-size: 7vw;
  }
  #back_button{
    font-size: 5vw;
  }
  #result {
    font-size: 8vw;
  }
  #desc {
    font-size: 5vw;
    width: 80%;
  }
}
